<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <div class="field">
  <%= f.label :title, 'Song Title:' %><br>
  <%= f.text_field :title %>
  </div>
  <br />

  <div class="field">
  <%= f.label :name, 'Artist Name:' %><br>
  <%= f.text_field :name %>
  </div>
  <br />

  <div class="field">
   <%= f.label :genre_id, 'Song Genre:' %><br>
   <%= f.collection_radio_buttons :genre_id, @genres, :id, :name %>
  </div>

  <%= f.submit %>
<% end %>
