<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <div class="field">
  <%= f.label :title, 'Song Title:' %><br>
  <%= f.text_field :title %>
  </div>
  <br />

  <%= f.submit %>
<% end %>

<%= form_for @artist  do |f| %>
  <div class="field">
  <%= f.label :title, 'Song Title:' %><br>
  <%= f.text_field :title %>
  </div>
  <br />

  <%= f.submit %>
<% end %>
